<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Volleyball Scouting</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/custom.css" rel="stylesheet"/>



    </head>
    <body>

    <nav class="navbar navbar-custom navbar-expand-lg sticky-top bg-body-tertiary" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/volleyball-2-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"/>
                Volleyball Scouting
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end offcanvas-custom" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: #ce9f1e">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Volleyball Scouting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <ul class="navbar-nav flex-grow-1 pe-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Giocatori</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Migliori giocatori</a></li>
                                <li><a class="dropdown-item" href="#">Ricerca</a></li>
                                <li><a class="dropdown-item" href="#">Nuovi giocatori</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Squadre</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Migliori squadre</a></li>
                                <li><a class="dropdown-item" href="#">Ricerca</a></li>
                                <li><a class="dropdown-item" href="#">Nuove squadre</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Partite</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Storico</a></li>
                                <li><a class="dropdown-item" href="#">Pianificazione</a></li>
                            </ul>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="#">Chi siamo</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end pe-3">
                        <li class="nav-item">
                            <button type="button" class="btn btn-custom" href="#">
                                <img src="/assets/user.png" alt="User Icon" class="pb-1"/>
                                Login test
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>