<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Volleyball Scouting</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/custom.css" rel="stylesheet"/>
</head>
<body>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <nav th:replace="~{/fragments/navbar :: navbar}"></nav>
    <div class="container-fluid">
        <div class="row head-line">
            <div class="col-12 text-center mt-5">
                <h1>Benvenuti su Volleyball Scouting</h1>
                <p class="lead">La piattaforma definitiva per l'analisi e la scoperta di talenti nel mondo del volley.</p>
            </div>
        </div>
        <div class="main-page-description">
            <div class="row bg-info ps-5 py-4 justify-content-between">
                <div class="col-6 text-start ">
                    <h1>Una nuova piattaforma, solo per te</h1>
                    <p class="lead">'Volleyball Scouting' è la nuova piattaforma che punta a rivoluzionare il modo in cui
                        appassionati, allenatori e scout analizzano e scoprono talenti nel mondo del volley. Grazie alla sua
                        interfaccia moderna e intuitiva, non ti perderai un solo momento della partita!
                   </p>
                </div>
                <div class="col-4 align-content-center text-center">
                    <img src="https://placehold.co/320x200" alt="presentation image 1" class="img-fluid"/>
                </div>
            </div>
            <div class="row ps-5 py-4 justify-content-between">
                <div class="col-6 text-start ">
                    <h1>Interfaccia moderna e intuitiva</h1>
                    <p class="lead">Grazie alle ultime tecnologie web, Volleyball Scouting è molto intuitivo, scalabile
                        e facile da usare. Niente cose complesse: inizia la partita, premi i tasti giusti e registra
                        velocemente tutte le azioni del caso!
                    </p>
                </div>
                <div class="col-12 align-content-center text-center">
                    <div class="row justify-content-evenly">
                        <div class="col-4">
                            <img src="https://placehold.co/400x300" alt="graphic image 1" class="img-fluid"/>
                        </div>
                        <div class="col-4">
                            <img src="https://placehold.co/400x300" alt="graphic image 2" class="img-fluid"/>
                        </div>
                        <div class="col-4">
                            <img src="https://placehold.co/400x300" alt="graphic image 3" class="img-fluid"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>