<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Volleyball Scouting</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/custom.css" rel="stylesheet"/>
</head>
<body>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <nav th:replace="~{/fragments/navbar :: navbar}"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h1>Benvenuti su Volleyball Scouting</h1>
                <p class="lead">La piattaforma definitiva per l'analisi e la scoperta di talenti nel mondo del volley.</p>
            </div>
        </div>
        <div class="row bg-info ps-5">
            <div class="col-8">
                <p class="lead"> Costruita solo da semplici ragazzi, questi puntano a rivoluzionare il mondo
                dello scouting di pallavolo, dalle piccole squadre fino alle più grandi di Italia. Scopri anche tu
                il lavoro svoltosi dietro.
            </div>
        </div>
    </div>

</body>
</html>